@import "../../colors/colors";

.modal__-open {
	&.modal--overlay {
		top              : 0;
		width            : 100%;
		height           : 100%;
		z-index          : 10;
		position         : fixed;
		background-color : rgba(#555, .5);
	}
	&.modal--base {
		top              : 20%;
		width            : 65%;
		z-index          : 11;
		position         : relative;
		box-shadow       : 1px 1px 8px #333;
		margin-left      : auto;
		margin-right     : auto;
		background-color : #fff;
		> form {
			display : block;
		}
		.button__close {
			color            : white;
			top              : 0;
			right            : 0;
			position         : absolute;
			font-size        : .7em;
			font-weight      : bold;
			background-color : rgba($close__red, .5);
			height           : 100%;
			padding          : 10px;
			&:hover {
				background-color : darken($close__red, 10%);
			}
		}
	}
}

.modal--base {
	font-family : monospace;
	> header {
		position         : relative;
		color            : #fff;
		padding          : 10px 0 10px 10px;
		background-color : $accent_color__2;
		> {
			h1, h2, h3, h4 { margin : 0; }
		}
	}
	form { width : 80%; margin : 20px auto; }
	[type=submit] {
		width         : 100%;
		margin-top    : 10px;
		margin-bottom : 10px;
	}
	.form_message {
		font-size : .7em;
		margin    : 2px 0 2px 20%;
	}
	.input--wrapper {
		width         : 100%;
		margin-bottom : 10px;
		label {
			width     : 25%;
			display   : inline-block;
			font-size : .95em;
		}
		input { width : 75%; border : thin solid #ccc;display : inline-block;}
	}
}