@import "../../colors/colors";


.inline-editable {
	cursor: pointer;
	input {
		width: 100%;
	}
}


.rdt.field--input {
	input {
		width: 100%;
	}
	.rdtPicker {
		width:  100%;
		border: thin solid #ccc;
	}
}


.modal__-open {
	&.modal--overlay {
		top:              0;
		width:            100%;
		height:           100%;
		z-index:          10;
		overflow-y:       scroll;
		position:         fixed;
		background-color: rgba(#555, .5);
	}
	&.modal--base {
		top:              10%;
		left:             15%;
		width:            70%;
		z-index:          11;
		position:         absolute;
		box-shadow:       1px 1px 8px #333;
		background-color: #fff;
		> form {
			display: block;
			fieldset {
				border:  none;
				padding: 0;
			}
			&::before {
				width:      100%;
				height:     100%;
				content:    '';
				position:   absolute;
				top:        0;
				left:       0;
				display:    none;
				transition: background-color .5s;
			}
			&.status__loading {
				&::before {
					transition:       background-color .5s;
					background-color: rgba($accent_color__1, .3);
					display:          block;
				}
			}
		}
	}
	.button--container {
		position: absolute;
		width:    100%;
		height:   100%;
		top:      0;
		right:    0;
		> * {
			display: inline-block;
		}
		.button__close {
			color:            white;
			float:            right;
			height:           100%;
			padding:          10px;
			font-size:        .7em;
			font-weight:      bold;
			background-color: rgba($error__red, .5);
			&:hover {
				background-color: darken($error__red, 10%);
			}
		}
		.button__edit {
			color:            white;
			float:            right;
			height:           100%;
			padding:          10px;
			font-size:        .7em;
			font-weight:      bold;
			background-color: rgba(#555, .5);
			a {
				color: #fff;
			}
			&:hover {
				background-color: darken(#555, 10%);
			}
		}
	}
}


.modal--base {
	font-family: monospace;
	> header {
		position:         relative;
		color:            #fff;
		padding:          10px 0 10px 10px;
		background-color: $accent_color__2;
		> {
			h1, h2, h3, h4 { margin: 0; }
		}
	}
	form {
		padding: 20px 0;
		> * {
			margin: 0 auto;
			width:  80%;
		}
	}
	[type=submit] {
		margin:  10px auto;
		display: block;
	}
	.form_message {
		font-size: .7em;
		margin:    2px 0 2px 20%;
	}
	.input--wrapper, .message--wrapper {
		margin-bottom: 10px;
		display:       flex;
		flex-wrap:     wrap;
		flex:          0 1 100%;
		align-items:   center;
		label {
			flex:      1 0 25%;
			display:   inline-block;
			font-size: .7em;
		}
		> .inline-editable {
			padding: 5px;
		}

		> input, > textarea, > .field--input, > .inline-editable {
			border: thin solid #ccc;
		}
		> textarea {
			padding: 10px;
		}
		> .file-upload-input {
			min-height:   50px;
			font-size:    .7em;
			text-align:   center;
			border-style: dotted;
			cursor:       pointer;
			color:        #ccc;
			line-height:  50px;
			transition:   color .3s;
			&:hover, &.has-primed-upload {
				border-style: solid;
				color:        #555;
				transition:   color .3s;
			}
		}
		.react-datepicker-wrapper {
			width: 100%;
			input, .react-datepicker__input-container {
				width: 100%;
			}
		}
		> input, > .Select, > textarea, > select, > .field--input, > .inline-editable {
			flex:    1 0 75%;
			display: inline-block;
		}
		.error--message {
			color: $error__red;
		}
		.success--message {
			color: $success__green;
		}
		> .message {
			width:       75%;
			margin-left: 25%;
			font-size:   .7em;
		}
	}
}


@media screen and (max-device-width: 700px), screen and (max-width: 700px) {
	.modal__-open {
		&.modal--base {
			top:   10%;
			width: 95%;
		}
	}
}


@media screen and (max-device-width: 700px) {
	.modal__-open {
		&.modal--base {
			.input--wrapper {
				padding-top:    20px;
				padding-bottom: 20px;
			}
		}
	}
}