@import "helper";
@import "../colors";

.schema--anchor {
  > .schema--anchor--label--container {
    border  : thin solid $border-color;
    display : inline-block;
    margin  : 25px auto;

    &::before {
      @extend %schema-decorator;
    }

    > input, > .schema--anchor--label {
      @extend %schema-label;
    }
  }
}

.schema--anchor--ampersand {
  @extend %_identified;
  display : inline-block;
  &::before {
	   @extend %schema-decorator;
	   content : '&';
   }
}