@import "smEntity/smEntity";

.smEntity--container > .smEntity--container--link--container {
	margin  : 10px 0 10px 0;
	padding : 10px 0;
}

.smEntity--container--link--container {
	list-style      : none;
	margin          : 0;
	padding         : 0;
	display         : flex;
	flex-flow       : row wrap;
	justify-content : flex-start;
	li {
		font-size : .9em;
		flex      : 0 0 10%;
		margin    : .75em;
	}
	a {
		width            : 100%;
		margin-right     : auto;
		margin-left      : auto;
		display          : block;
		text-align       : center;
		background-color : $component--meta--bg;
		border           : thin solid darken($component--meta--bg, 20%);
		font-weight      : bold;
		transition       : background-color .3s, color .3s;
		padding          : 10px;
		&.active, &:hover {
			background-color : rgba(darken($component--meta--bg, 23%), .7);
			transition       : background-color .3s, color .3s;
			color            : white;
		}
	}
}

@media screen and (max-device-width : 450px), screen and (max-width : 800px) {
	.smEntity--container--link--container {
		justify-content : space-evenly;
		font-size       : .7em;
	}
}