@import "header/variables";

#app {
	height : 100%;
	.application--content--wrapper {
		display : block;
		height  : 100%;
	}
}

.main--content {
	$content-top-margin : $logo-item__header-std__height;
	height : calc(100% - #{$content-top-margin});
}