@import "header/variables";

#app {
	height : 100%;
	.application--content--wrapper {
		display : block;
		height  : 100%;
	}
}

.main--content {
	$content-top-margin : $logo-item__header-std__height;
	height : calc(100% - #{$content-top-margin});
	.content--section {
		background-color : #fff;
		box-shadow       : 3px 3px 10px darken($body--backgroundColor, 10%);
		.content--section {
			box-shadow : none;
		}
	}

}