$gallery_item--tag--colors_list : #4b8b8b #aea728 #747a61;
$tag--color : lighten(#747a61, 35%);
@for $i from 1 through length($gallery_item--tag--colors_list) {
	$c : nth($gallery_item--tag--colors_list, $i);
	.gallery_item--tag__-#{$i} {
		background : $c;
	}
}

.gallery_item--tag {
	background    : $tag--color;
	border        : 1px solid darken($tag--color, 25%);
	color         : darken($tag--color, 45%);
	border-radius : 2px;
	padding       : 5px;
	font-size     : .5em;
	user-select   : none;
	&:hover {
		font-weight     : normal;
		border          : 1px lighten($tag--color, 10%);
		text-decoration : underline;
	}
}