$gallery_item--shadowColor : darken($body--backgroundColor, 10%);
$gallery_item--backgroundColor : #fafafa;

.gallery_item {
	width            : 30%;
	padding          : 1%;
	height           : 225px;
	box-shadow       : 3px 3px 3px $gallery_item--shadowColor;
	background-color : $gallery_item--backgroundColor;
	margin-bottom    : 15px;

	.price, .name {
		display : inline-block;
	}
	.tag--container {
		clear      : both;
		width      : 100%;
		padding-top : 10px;
		@include clearfix();
		* {
			float : right;
		}
		.tag {
			margin-left : 4px;
		}
	}
	.name {float : left;}
	.price {float : right;}
}

.gallery_item--image--wrapper {
	width    : 100%;
	padding  : 0;
	> * {
		display    : block;
		min-width  : 100%;
		min-height : 150px;
	}
	height   : 150px;
	overflow : hidden;
}

.gallery_item--image--wrapper {
	.jessica {
		background-size       : cover;
		background-position-y : bottom;
	}
	.philip {
		background-size       : cover;
		background-position-y : -85px;
	}
	.william::before {
		background-size : 325%;
		width           : 40%;
		left            : 30%;
	}
}

.gallery_item--container {
	// temp
	width           : 100%;
	padding         : 1%;
	//
	display         : flex;
	justify-content : space-evenly;
	flex-flow       : wrap row;
}