// ANCHOR
$anchor--background--color : #f9f9f9;

// AMPERSAND
$anchor--ampersand--background--color : transparent;

// LABEL
$anchor--label--background--color : darken($anchor--background--color, 2%);
$anchor--label--border--color : darken($anchor--background--color, 2%);
$anchor--label--input--background--color : darken($anchor--background--color, 2%);