@import "../variables";

header {
	> .user_menu {
		justify-content : flex-end;
		margin-right    : 20px;
		width           : $user_menu__header-std__width;
		height          : 100%;
		position        : relative;
		padding         : 10px;
		button {
			font-size : .7em;
		}
		#user_menu--login {
			label {display : none;}
			display : inline-block;
			.input--wrapper {
				display      : inline-block;
				font-size    : .7em;
				margin-right : 2%;
				width        : 48%;
				height       : 100%;
				input {
					width : 100%;
				}
			}
		}
		input {display : inline-block;
			padding    : 10px;}

		.login_action--button--container {
			> * {
				&:first-child {
					margin-right : 10px;
				}
			}
		}
		.input--container {display : inline-block;}
		.text_input--container {
			width        : 72%;
			margin-right : 3%;
		}
		.action_button--container {
			width  : 25%;
			float  : right;
			height : 100%;
			@include clearfix();
			> * {
				padding   : 3px;
				width     : 100%;
				clear     : both;
				display   : block;
				height    : 50%;
				float     : left;
				font-size : .5em;
				&:first-child {
					margin-bottom : 4px;
				}
			}
		}
	}
}

.user_menu--link--container {
	width           : 100%;
	display         : flex;
	flex-flow       : row nowrap;
	justify-content : flex-end;
	.link--wrapper {
		display     : inline-block;
		margin-left : 20px;
		position    : relative;
		&:first-child {margin-left : 0;}
		&::before {
			display          : block;
			position         : absolute;
			content          : '';
			background-color : darken($header__backgroundColor, 4%);
			width            : 2px;
			height           : 100%;
			right            : -12.5px;
			top              : 0;
		}
		&:last-child {
			&::before {
				display : none;
			}
		}
	}
	a {
		color       : white;
		font-weight : bold;
		&:hover {
			color         : mix(#eee, $accent_color__1);
			border-bottom : thin solid mix(#eee, $accent_color__1);
		}
	}
}

@media screen and (max-device-width : 700px), screen and (max-width : 700px) {
	header > .user_menu {
		&.active {
			background-color : $header__backgroundColor;
			width            : 100%;
			display          : block;
			position         : absolute;
			z-index          : 10;
			#user_menu--login {
				height : 100%;
				width  : 100%;
			}
		}
	}
}

@media screen and (max-device-width : 450px) {
	header > .user_menu {
		padding-top : 3px;
		position    : relative;
		&.active {
			padding-top : 20px;
		}
		input, .action_button {
			font-size : 1em;
			padding   : 5px;
		}
		.input--container {
			> * {
				padding : 3px;
			}
		}
		.action_button--container {
			width : 25%;
			> * {
				display   : inline-block;
				float     : none;
				clear     : none;
				font-size : .8em;
				width     : 46%;
				&:first-child {
					margin-bottom : 0;
					margin-right  : 4%;
				}
			}
		}
		#user_menu--login {
			height : 100%;
			width  : 100%;
		}
	}
}