@import "../variables";

header {
	> .user-menu {
		justify-content : flex-end;
		margin-right    : 20px;
		width           : $user-menu__header-std__width;
		height          : 100%;
		position        : relative;
		padding         : 10px;
		.user--home--link--wrapper {
			a {
				color         : white;
				font-weight   : bold;
				border-bottom : thin solid #fff;
				&:hover {
					color               : mix(#eee, $accent_color__1);
					border-bottom-color : mix(#eee, $accent_color__1);
				}
			}
		}
		button {
			font-size : .7em;
		}
		#user-menu--login {
			label {display : none;}
			display : inline-block;
			.input--wrapper {
				display      : inline-block;
				font-size    : .7em;
				margin-right : 2%;
				width        : 48%;
				height       : 100%;
				input {
					width : 100%;
				}
			}
		}
		input {display : inline-block;}

		.login_action--button--container {
			> * {
				&:first-child {
					margin-right : 10px;
				}
			}
		}
		.input--container {display : inline-block;}
		.text_input--container {
			width        : 72%;
			margin-right : 3%;
		}
		.action_button--container {
			width  : 25%;
			float  : right;
			height : 100%;
			@include clearfix();
			> * {
				padding   : 0;
				width     : 100%;
				clear     : both;
				display   : block;
				height    : 50%;
				float     : left;
				font-size : .5em;
				&:first-child {
					margin-bottom : 4px;
				}
			}
		}
	}
}

@media screen and (max-device-width : 400px) {
	header > .user-menu {
		padding-top : 3px;
		&.active {
			padding-top : 35px;
		}
		input, .action_button {
			font-size : 1em;
		}
		.input--container {
			> * {
				padding : 3px;
			}
		}
		.action_button--container {
			> * {
				display   : inline-block;
				float     : none;
				clear     : none;
				font-size : .8em;
				width     : 46%;
				&:first-child {
					margin-bottom : 0;
					margin-right  : 4%;
				}
			}
		}
		#user-menu--login {
			height : 100%;
		}
	}
}