@import "components/components";

.page--__--dev {
	width       : 95%;
	padding-top : 20px;
	&, * {font-family : monospace;}
	.page--description {
		text-align    : center;
		font-size     : .6em;
		margin-left   : auto;
		margin-right  : auto;
		margin-bottom : 20px;
		border-bottom : thin solid darken($body--backgroundColor, 5%);
	}
	p, .page--description * {
		* {
			font-size : inherit;
		}
	}
	dt {
		display       : inline;
		font-style    : italic;
		border-bottom : thin solid;
	}
	sub {
		margin-left : 3px;
		font-size   : .7em;
		bottom      : 0px;
	}
}