@import "../variables";
@import "colors";

.header-standard {
	> nav {
		justify-content : flex-start;
		width           : $header-nav__header-std__width;
	}
}

.header-standard > nav .navigation--link_item {
	margin           : 0;
	height           : 100%;
	display          : inline-block;
	background-color : $navLink__backgroundColor;
	&:hover {
		background-color : $navLink__backgroundColor--hover;
	}
	&.active--link {
		background-color : $navLink__backgroundColor--hover;
		font-weight      : bold;
		//border-bottom : 6px solid $active-link-_-border-bottom-color;
		a {
			position : relative;
			@keyframes modifyLine {
				from {
					background-color : transparent;
					transform        : translate(-50%, 0) scale(0, 1);
				}
				to {
					background-color : $active-link-_-border-bottom-color;
					transform        : translate(00%, 0) scale(1, 1);
				}
			}
			&::before {
				left             : 0;
				content          : '';
				height           : 3px;
				margin-right     : auto;
				margin-left      : auto;
				display          : block;
				background-color : $active-link-_-border-bottom-color;
				animation        : modifyLine .25s;
				position         : absolute;
				width            : 100%;
				bottom           : 0;
			}
		}
	}
	a {
		padding         : 0 10px;
		height          : 100%;
		display         : block;
		color           : $navLink__color;
		text-decoration : none;
		text-transform  : uppercase;
		line-height     : 200%;
		box-sizing      : content-box;
		&:before {
			content        : '';
			display        : inline-block;
			height         : 100%;
			vertical-align : middle;
		}
	}
}

.header-standard > nav .navigation--link_container {
	margin          : 0;
	padding         : 0;
	height          : 100%;
	display         : flex;
	align-items     : center;
	justify-content : flex-start;
}

@media screen and (max-device-width : 400px) {
	.header-standard {
		> nav {
			.navigation--link_item {
				padding-top : 0%;
				&.active--link {
					padding-top : 10%;
				}

				a {
					text-wrap   : none;
					word-break  : keep-all;
					line-height : 1em;
					display : inline-block;
				}
			}
		}
	}
}