@import "../variables";
@import "colors";
.header-standard {
	> nav {
		justify-content : flex-start;
		width           : $header-nav__header-std__width;

		.navigation--link_container {
			margin          : 0;
			padding         : 0;
			height          : 100%;
			display         : flex;
			align-items     : center;
			justify-content : flex-start;
		}

		.navigation--link_item {
			margin           : 0;
			height           : 100%;
			display          : inline-block;
			background-color : $navLink__backgroundColor;
			&:hover {
				background-color : $navLink__backgroundColor--hover;
			}
			&.active--link {
				font-weight   : bold;
				border-bottom : 6px solid $active-link-_-border-bottom-color;
				a {
					padding-top : 3px;
				}
			}
			a {
				padding         : 0 10px;
				height          : 100%;
				display         : block;
				color           : $navLink__color;
				text-decoration : none;
				text-transform  : uppercase;
				line-height     : 200%;
				box-sizing      : content-box;
				&:before {
					content        : '';
					display        : inline-block;
					height         : 100%;
					vertical-align : middle;
				}
			}
		}
	}
}