@import "colors";
@import "tags";

.gallery_item {
	box-shadow    : 3px 3px 3px $gallery_item--shadowColor;
	width         : 30%;
	min-width     : 300px;
	padding       : 1%;
	height        : 250px;
	flex-flow     : row wrap;
	display       : flex;
	align-content : baseline;
	&::before {
		content          : '';
		background-color : transparent;
		width            : 100%;
		height           : 100%;
		display          : block;
		left             : 0;
		position         : absolute;
		top              : 0;
		z-index          : 2;
		transition       : background-color .2s;
	}
	&.clickable:hover {
		&::before {
			content          : '';
			background-color : $gallery_item--backgroundColor__hover;
			transition       : background-color .2s;
		}
	}
}

.gallery_item {
	background-color : $gallery_item--backgroundColor;
	margin-bottom    : 15px;
	position         : relative;
	> .view--link {
		position : absolute;
		top      : 0;
		left     : 0;
		height   : 100%;
		width    : 100%;
		display  : block;
		z-index  : 2;
		i {
			left       : 10px;
			top        : 10px;
			color      : rgba(black, .5);
			position   : absolute;
			font-size  : 1em;
			transition : font-size .2s, color .3s;
		}
	}
	&, .gallery_item--image--wrapper {
		border : thin solid darken($body--backgroundColor, 40%);
	}
	&:hover {
		&, .gallery_item--image--wrapper {
			border : thin solid darken($gallery_item--borderColor, 70%);
		}
		> .view--link i {
			font-size  : 3em;
			color      : #fff;
			transition : font-size .2s, color .3s;
		}
	}
	.image--wrapper {
		flex : 0 0 100%;
	}
	.price, .name {
		flex : 1 1 50%;
	}
	.status {
		font-size : .7em;
		position  : absolute;
		top       : 0;
		left      : 0;
		padding   : 15px;
		&:not(:empty) { background-color : #ccc;}
		&.status__active { background-color : rgba($accent_color__1, .5); color : white;}
	}
	.description {
		font-size : .5em;
		&:not(:empty) {
			border-top : thin solid darken($gallery_item--backgroundColor, 30%);
			width      : 100%;
			:hover & {
				border-top-color : white;
			}
		}
	}
	.price {
		text-align : right;
	}
	.tag--container {
		position        : absolute;
		bottom          : -22px;
		height          : 45px;
		right           : 2%;
		display         : flex;
		flex-flow       : row wrap;
		justify-content : flex-end;
		align-items     : center;
		z-index         : 3;
		.tag {
			margin-left   : 4px;
			margin-bottom : 4px;
		}
	}
}

.modal--base {
	.gallery_item {
		position   : relative;
		box-shadow : none;
		.gallery_item--image--wrapper {
			width  : 40%;
			height : 250px;
		}
		.description {
			padding    : 20px;
			border-top : none;
			position   : absolute;
			width      : 60%;
			right      : 0;
			top        : 0;
		}
		.price {
			background-color : $accent_color__2;
			color            : white;
			width            : 40%;
			text-align       : center;
			display          : inline-block;
		}
		.view--link {
			display : none;
		}
		.name {display : none;}
		.tag--container {
			width           : 60%;
			padding         : 0 20px;
			margin-right    : 0;
			justify-content : space-between;
			position        : relative;
			float           : right;
			bottom          : 10px;
			right           : auto;
		}
	}
}

.gallery_item--image--wrapper {
	width      : 100%;
	padding    : 0;
	height     : 150px;
	max-height : 150px;
	overflow   : hidden;
	position   : relative;

	> * {
		display    : block;
		min-width  : 100%;
		min-height : 100%;
	}
}

.gallery_item--image--wrapper {
	.jessica {
		filter                : invert(10%);
		background-size       : cover;
		background-position-y : bottom;
	}
	.philip {
		filter                : invert(10%);
		background-size       : cover;
		background-position-y : -85px;
	}
	.william::before {
		background-size : 325%;
		width           : 40%;
		left            : 30%;
	}
	.william::after {
		background-color : desaturate(lighten($accent_color__1, 10%), 5%);
		opacity          : .5;
	}
}

.gallery_item--container {
	// temp
	width           : 100%;
	padding         : 1%;
	//
	display         : flex;
	justify-content : space-evenly;
	flex-flow       : wrap row;
}

@media screen and (max-width : 600px), screen and (max-device-width : 400px) {
	.gallery_item {
		width         : 85vw;
		height        : 75vw;
		margin-bottom : 50px;
		.description {
			font-size : .7em;
		}
	}
	.gallery_item--image--wrapper {
		height     : 50vw;
		max-height : unset;
	}
}

@media screen and (max-device-width : 400px), screen and (max-device-width : 800px) {
	.gallery_item {
		.name {
			font-size : 1.5em;
			margin    : 10px 0;
		}
		.description {
			padding-top : 10px;
			font-size   : 1em;
		}
		> .view--link {
			i {font-size : 2em;}
		}
		&:hover {
			> .view--link {
				i {font-size : 4em;}
			}
		}
	}
}