@import "colors";
@import "tags";

.gallery_item {
	width            : 30%;
	padding          : 1%;
	height           : 250px;
	box-shadow       : 3px 3px 3px $gallery_item--shadowColor;
	background-color : $gallery_item--backgroundColor;
	margin-bottom    : 15px;
	display          : flex;
	flex-flow        : row wrap;
	position         : relative;
	align-content    : baseline;
	&, .gallery_item--image--wrapper {
		border : thin solid darken($body--backgroundColor, 40%);
	}
	&:hover {
		&, .gallery_item--image--wrapper {
			border : thin solid darken($gallery_item--borderColor, 70%);
		}
	}
	&.clickable:hover {
		background-color : $gallery_item--backgroundColor__hover;
	}
	.image--wrapper {
		flex : 0 0 100%;
	}
	.price, .name {
		flex : 1 1 50%;
	}
	.status {
		font-size : .5em;
		position  : absolute;
		top       : 0;
		left      : 0;
		padding   : 5px;
		&:not(:empty) { background-color : #ccc;}
	}
	.description {
		font-size : .5em;
		&:not(:empty) {
			border-top : thin solid darken($gallery_item--backgroundColor, 30%);
			width      : 100%;
			:hover & {
				border-top-color : white;
			}
		}
	}
	.price {
		text-align : right;
	}
	.tag--container {
		position        : absolute;
		bottom          : -22px;
		height          : 45px;
		right           : 2%;
		display         : flex;
		flex-flow       : row wrap;
		justify-content : flex-end;
		align-items     : center;
		.tag {
			margin-left   : 4px;
			margin-bottom : 4px;
		}
	}
}

.gallery_item--image--wrapper {
	width      : 100%;
	padding    : 0;
	height     : 150px;
	max-height : 150px;
	overflow   : hidden;
	position   : relative;

	> * {
		display    : block;
		min-width  : 100%;
		min-height : 100%;
	}
}

.gallery_item--image--wrapper {
	.jessica {
		background-size       : cover;
		background-position-y : bottom;
	}
	.philip {
		background-size       : cover;
		background-position-y : -85px;
	}
	.william::before {
		background-size : 325%;
		width           : 40%;
		left            : 30%;
	}
	.william::after {
		background-color : desaturate(lighten($accent_color__1, 10%), 5%);
		opacity          : .5;
	}
}

.gallery_item--container {
	// temp
	width           : 100%;
	padding         : 1%;
	//
	display         : flex;
	justify-content : space-evenly;
	flex-flow       : wrap row;
}

@media screen and (max-width : 800px), screen and (max-device-width : 400px) {
	.gallery_item {
		height : 300px;
	}
	.gallery_item--image--wrapper {
		height     : 200px;
		max-height : 200px;
	}
}