@import "colors";

@for $i from 1 through length($gallery_item--tag--colors_list) {
	$c : nth($gallery_item--tag--colors_list, $i);
	.gallery_item--tag__-#{$i} {
		background : $c;
	}
}

.gallery_item--tag {
	background    : $tag--color;
	border        : 1px solid darken($tag--color, 45%);
	color         : darken($tag--color, 65%);
	border-radius : 2px;
	padding       : 5px;
	font-size     : .5em;
	line-height   : .7em;
	user-select   : none;
	&.clickable:hover {
		font-weight     : normal;
		border          : 1px solid lighten($tag--color, 20%);
		text-decoration : underline;
	}
}