@import "colors";

@for $i from 1 through length($gallery_item--tag--colors_list) {
	$c : nth($gallery_item--tag--colors_list, $i);
	.gallery_item--tag__-#{$i} {
		background : $c;
	}
}

.gallery_item--tag {
	background    : $tag--color__1;
	border        : 1px solid darken($tag--color__1, 45%);
	color         : darken($tag--color__1, 65%);
	border-radius : 2px;
	padding       : 5px;
	font-size     : .5em;
	line-height   : .7em;
	user-select   : none;
	&.tag-_-purpose {
		background : $tag--color__2;
	}
	&.clickable:hover {
		font-weight     : normal;
		border          : 1px solid lighten($tag--color__1, 20%);
		text-decoration : underline;
	}
}

@media screen and (max-width : 600px) {
	.gallery_item--tag {
		font-size : .7em;
	}
}

@media screen and (max-device-width : 400px) {
	.gallery_item--tag {
		font-size : 1em;
		padding   : 10px;
	}
}