@import "colors/colors";

$page--nav-_-color : black;
$page--nav--shadow-_-color : darken($body--backgroundColor, 20%);

.page {
	width        : 80%;
	margin-left  : auto;
	margin-right : auto;

	a {
		border-bottom : thin solid $hyperlink-_-bottom-border-color;
	}
	nav {
		padding       : 0 10px 15px 0;
		box-sizing    : padding-box;
		border-bottom : 1px solid darken($body--backgroundColor, 20%);
		margin-bottom : 15px;
		a {
			border-bottom : none;
			color         : $page--nav-_-color;
		}
		ul, ol {
			display : flex;
			margin  : 0;
			padding : 0;
		}
		li {
			list-style       : none;
			margin-right     : 10px;
			background-color : $page-link-_-bg-color;
			border           : thin solid $page-link-_-bg-color;
			box-shadow       : 1px 1px 8px $page--nav--shadow-_-color;
			a {
				display : block;
				width   : 100%;
				height  : 100%;
				padding : 5px 10px;
			}
			&:hover {
				box-shadow    : 1px 1px 8px darken($page--nav--shadow-_-color, 10%);
				border-bottom : thin solid $page--nav--shadow-_-color;
			}
		}
	}
}

#back-to-top {
	content          : '^';
	display          : block;
	position         : fixed;
	border-radius    : 50%;
	bottom           : 25px;
	right            : 3%;
	height           : 50px;
	width            : 50px;
	box-shadow       : 4px 4px 8px 0px darken($body--backgroundColor, 25%);
	background-color : darken(mix($body--backgroundColor, $palette_color_1), 10%);
	&.inactive {
		display : none;
	}
	&:hover {
		cursor           : pointer;
		background-color : saturate(mix($body--backgroundColor, $palette_color_1), 10%);
	}
	&::before {
		font-size   : .8em;
		color       : #fff;
		font-weight : lighter;
		position    : relative;
		top         : 25%;
		left        : 25%;
		height      : 33%;
		width       : 33%;
		text-align  : center;
		content     : 'top';
		display     : block;
	}
}

@media screen and (max-width : 800px), screen and (max-device-width : 400px) {
	.page {
		width : 90%;
		nav {
		}
	}
}