@import "colors/colors";

$backToTopRight : -15vh;
.page {
	width        : 80%;
	margin-left  : auto;
	margin-right : auto;
	.button {
		background-color : #eee;
		border           : thin solid darken(#ccc, 20%);
		&:hover {
			background-color : #bbb;
			border           : thin solid darken(#ccc, 40%);
		}
	}
	nav {
		padding       : 0 0 15px 0;
		box-sizing    : padding-box;
		border-bottom : 1px solid darken($body--backgroundColor, 20%);
		margin-bottom : 15px;
		a {
			border-bottom : none;
			color         : $page--nav-_-color;
			transition    : font-weight .3s;
		}
		ul, ol {
			display         : flex;
			margin          : 0;
			flex-flow       : row nowrap;
			justify-content : flex-start;
			padding         : 0;
		}
		li {
			list-style   : none;
			font-size    : .9em;
			font-weight  : bold;
			box-shadow   : 1px 1px 8px $pageContent--shadow-_-color;
			margin-right : 10px;
			a {
				text-align : center;
				display    : block;
				width      : 100%;
				height     : 100%;
				padding    : 5px 10px;
				font-style : normal;
			}
			.link_item {
				background-color : $page-link-_-bg-color;
				border           : 2px solid $page-link-_-border-color;
				height           : 100%;
				transition       : background-color .5s, border .5s;
				&.active {
					transition       : background-color .5s, border .5s;
					background-color : $page-link-_-bg-color__active;
					border           : 2px solid $page-link-_-border-color__active;
					a {
						color : $page--nav-_-color__active;
					}
				}
			}
			&:hover {
				box-shadow : 1px 1px 8px darken($pageContent--shadow-_-color, 10%);
			}
		}
	}
	> .content--section, .scene > .content--section {
		margin-bottom    : 15px;
		line-height      : 1.5em;
		background-color : $pageContent--color;
		border           : $pageContent--border-_-style;
		box-shadow       : 1px 1px 8px $pageContent--shadow-_-color;
	}
	.content--section {
		a:empty {
			display : none;
		}
		> .content {
			margin : 10px;
		}
		.content--section--header {
			background-color : $pageContent--header--color;
			color            : $pageContent--header--txt-color;
			margin           : 0;
			padding          : 7px 10px 5px;
		}

		h1 {
		}
		h1, h2, h3 {
			width          : 100%;
			margin         : 0 0 10px;
			padding-bottom : 0;
		}
		p {
			margin : 0;
		}
	}
}

#back-to-top {
	content          : '^';
	display          : block;
	position         : fixed;
	border-radius    : 50%;
	bottom           : 25px;
	right            : 3%;
	z-index          : 10;
	height           : 10vh;
	min-height       : 30px;
	min-width        : 30px;
	width            : 10vh;
	box-shadow       : 4px 4px 8px 0px darken($body--backgroundColor, 25%);
	background-color : darken(mix($body--backgroundColor, $palette_color_1), 10%);
	@keyframes appear {
		0% {right : $backToTopRight;}
		100% {right : 3%;}
	}
	@keyframes disappear {
		0% {right : 3%;}
		100% {right : $backToTopRight;}
	}
	animation        : appear .2s;
	&.inactive {
		right     : $backToTopRight;
		animation : disappear .2s;
	}
	&:hover {
		cursor           : pointer;
		background-color : saturate(mix($body--backgroundColor, $palette_color_1), 10%);
	}
	&::before {
		font-size   : 3vh;
		color       : #fff;
		word-wrap   : unset;
		font-weight : lighter;
		position    : relative;
		top         : 3vh;
		height      : 33%;
		text-align  : center;
		content     : 'top';
		display     : block;
	}
}

@media screen and (max-width : 800px), screen and (max-device-width : 450px) {
	.page {
		width : 90%;
		nav {
			ol, ul {
				justify-content : space-between;
			}
			li {
				font-size    : .7em;
				margin-right : 0;
			}
		}
	}
	#back-to-top {
		&::before {
			//top : 15%;
		}
	}
}