@import "colors";

$page--nav-_-color : black;
$page--nav--shadow-_-color : darken($body--backgroundColor, 20%);

.page {
	a {
		border-bottom : thin solid $hyperlink-_-bottom-border-color;
	}
	nav {
		padding    : 0 10px 10px 0;
		a {
			border-bottom : none;
			color         : $page--nav-_-color;
		}
		ul, ol {
			margin  : 0;
			padding : 0;
		}
		box-sizing : padding-box;
		li {
			margin-right     : 10px;
			padding          : 5px 10px;
			background-color : $page-link-_-bg-color;
			display          : inline-block;
			border           : thin solid $page-link-_-bg-color;
			box-shadow       : 1px 1px 8px $page--nav--shadow-_-color;
			&:hover {
				box-shadow    : 1px 1px 8px darken($page--nav--shadow-_-color, 10%);
				border-bottom : thin solid $page--nav--shadow-_-color;
			}
		}
	}
}

#back-to-top {
	content          : '^';
	display          : block;
	position         : fixed;
	border-radius    : 50%;
	bottom           : 25px;
	right            : 3%;
	height           : 50px;
	width            : 50px;
	box-shadow       : 4px 4px 8px 0px darken($body--backgroundColor, 25%);
	background-color : darken(mix($body--backgroundColor, $accent_color_1), 10%);
	&.inactive {
		display : none;
	}
	&:hover {
		cursor           : pointer;
		background-color : saturate(mix($body--backgroundColor, $accent_color_1), 10%);
	}
	&::before {
		font-size   : .8em;
		color       : #fff;
		font-weight : lighter;
		position    : relative;
		top         : 25%;
		left        : 25%;
		height      : 33%;
		width       : 33%;
		text-align  : center;
		content     : 'top';
		display     : block;
	}
}