@import "colors";

.control_component {
	background-color : $pageContent--color;
	border           : $pageContent--border-_-style;
	margin-bottom    : 10px;
	> .title, > .title--wrapper > .title {
		background-color : $pageContent--header--color;
		color            : $control_component--title__fontColor;
		border-bottom    : thin solid $control_component--title__borderBottomColor;
		padding          : 5px;
		text-transform   : capitalize;
	}
}