@import "../../colors";

.route--wrapper {
	position : relative;
	&:hover {
		background-color : $component--meta--bg;
	}
	.route--identifier {
		border-bottom : thin solid #ccc;
		font-size     : .7em;
		.name:not(:empty) {
			font-weight   : bold;
			margin-right  : 10px;
			padding-right : 10px;
			border-right  : thin solid #ccc;
		}
		* {
			display : inline-block;
		}
	}
	.selectively-active--toggle {
		position   : absolute;
		width      : 35px;
		height     : 30px;
		max-height : 100%;
		display    : block;
		top        : 0;
		right      : 0;
		background : rgba($component--meta--bg--color, .7);
		color      : transparent;
		text-align : center;
		&::before {
			color       : white;
			font-weight : bold;
			display     : block;
			width       : 100%;
			height      : 100%;
			@at-root {
				.route--wrapper.active .selectively-active--toggle::before {
					content : '-';
				}

				.route--wrapper.inactive .selectively-active--toggle::before {
					content : '+';
				}
			}
		}
		&:hover {
			background : rgba(darken($component--meta--bg--color, 4%), .5);
		}
	}
	.route--navigate {
		background  : rgba($component--meta--bg--color, .5);
		margin-left : 10px;
	}
}

.route--configuration {
	font-size : .8em;
	.attribute__requestDescriptor {
		word-break : keep-all;
		.attribute--value {
			padding  : 0;
			position : relative;
			> div {
				height     : 100%;
				overflow-x : auto;
				line-break : unset;
				position   : relative;
				width      : 100%;
			}
		}
		table {
			height         : 100%;
			border-spacing : 0;
			width          : 100%;
		}
		tr {
			width : 100%;
		}
		td {
			padding       : 3px;
			border-bottom : thin solid $configuration--component-_-border-color;
			//white-space   : nowrap;
			&.attribute {
				border-right     : thin solid $configuration--component-_-bg;
				text-transform   : capitalize;
				background-color : $component--meta--bg;
			}
			&.value {
			}
		}
	}
}

.route--container--container {
	display   : flex;
	flex-flow : row wrap;
}

.route--container--wrapper {
	flex         : 1 1 50%;
	width        : 50%;
	border-right : thin solid $component--meta--bg;
	.route--configuration {
	}
}

.route--configuration--list, .route--configuration--container {
	> .title {
		background-color : $component--meta--bg;
		border-bottom    : thin solid $configuration--component-_-border-color;
	}
}

.route--navigation--form {
	a.navigate {
		font-style   : normal;
		width        : 80%;
		margin-top   : 10px;
		padding-top  : 10px;
		border-top   : thin solid #ccc;
		text-align   : center;
		display      : block;
		margin-right : auto;
		margin-left  : auto;
		&.active {
			font-weight : bold;
		}
		&.disabled {
			cursor : auto;
			color  : #ccc;
		}
	}
}