@import "fonts";
@import "colors";
@import "normalize";
@import "standard";

html {
	margin       : 0;
	padding      : 0;
	height       : 100%;
	font-size    : 23px;
	word-spacing : 0;
	line-height  : 1.2em;
	font-family  : 'Spwashi2', sans-serif;
}

h1 {font-size : 1.5em;}

h2 {font-size : 1.3em;}

h3 {font-size : 1.1em;}

button, input, .button {
	font-family : monospace;
	font-weight : normal;
}

button, .button {
	cursor : pointer;
	&:hover {
		font-weight : bold;
	}
}

a {
	font-style      : italic;
	color           : $hyperlink-_-color;
	text-decoration : none;
}

body {
	height           : 100%;
	background-color : $body--backgroundColor;
}

input, button {
	padding : 5px;
	border  : none;
}

button, .button {
	border-radius : 2px;
}

code {
	&, * {
		font-family : monospace;
	}
}

@media screen and (max-device-width : 450px) {
	html {
		font-size : 35px;
	}
}