@import "fonts";
@import "colors";
@import "normalize";

html {
	margin    : 0;
	padding   : 0;
	font-size : 1em;
	height    : 100%;
}

*, button, input {
	font-weight  : bold;
	word-spacing : 0px;
	line-height  : 1.2em;
	font-family  : 'Spwashi2', sans-serif;
	h1 {
		font-size : 1.5em;
	}
	h2 {
		font-size : 1.3em;
	}
	h3 {
		font-size : .9em;
	}

}

a {
	font-style      : italic;
	color           : $hyperlink-_-color;
	text-decoration : none;
}

body {
	height           : 100%;
	background-color : $body--backgroundColor;
	font-size        : 23px;
}

input, button {
	padding : 5px;
	border  : none;
}

button {
	border-radius : 2px;
}

@media screen and (max-device-width : 400px) {
	main {
		font-size : 37px;
	}
}