@import "fonts";
@import "../colors";
@import "normalize";

html {
	margin    : 0;
	padding   : 0;
	font-size : 1em;
	height    : 100%;
}

*, button, input {
	font-family  : 'Spwashi2', sans-serif;
	font-weight  : bold;
	word-spacing : 0px;
	line-height  : 1.2em;
}

a {
	font-style      : italic;
	color           : #555;
	text-decoration : none;
	border-bottom   : thin dotted #999;
}

body {
	height           : 100%;
	background-color : $body--backgroundColor;
	font-size        : 29px;
}

input, button {
	padding : 5px;
	border  : none;
}

button {
	border-radius : 2px;
}