@import "../../colors";

.configuration--attribute {
	font-size     : 15px;
	border-top    : thin solid $configuration--attribute-_-border-color;
	border-bottom : thin solid $configuration--attribute-_-border-color;
	&:last-child {
		border-bottom : none;
	}
	display       : flex;
	flex-flow     : row nowrap;
	align-items   : stretch;
	.attribute--title {
		font-size      : .9em;
		overflow       : hidden;
		font-weight    : bold;
		text-transform : capitalize;
		flex           : 1 1 15%;
	}
	.attribute--value {
		border-left : thin solid $configuration--attribute--value-_-border-color;
		overflow    : hidden;
		padding     : 10px;
		flex        : 1 1 85%;
	}
}

.configuration--attribute {
	align-items : stretch;
	display     : flex;
	flex-flow   : row nowrap;
	&.properties {
		> .attribute--value {
			padding : 0;
		}
	}
	> .attribute--title {
		background-color : $configuration--attribute--title-_-background;
		padding          : 10px;
		display          : block;
		color            : $configuration--attribute--title-_-txt-color;
	}
}