@import "../../colors";

.configuration--attribute {
	border-top    : thin solid $dev--configuration--attribute-_-border-color;
	border-bottom : thin solid $dev--configuration--attribute-_-border-color;
	display       : flex;
	flex-flow     : row nowrap;
	align-items   : stretch;
	.attribute--title {
		font-weight    : bold;
		text-transform : capitalize;
		flex           : 1 1 25%;
	}
	.attribute--value {
		border-left : thin solid $component--meta-_-text-color;
		overflow    : hidden;
		padding     : 10px;
		flex        : 1 1 75%;
	}
}

.configuration--attribute {
	align-items : stretch;
	display     : flex;
	flex-flow   : row nowrap;
	&.properties {
		> .attribute--value {
			padding : 0;
		}
	}
	> .attribute--title {
		background-color : $configuration--attribute--title-_-background;
		padding          : 10px;
		width            : 20%;
		display          : block;
		color            : $configuration--attribute--title-_-txt-color;
	}
}