// standard
@import "../helper";
@import "../../colors";
// anchor
@import "colors";
@import "variables";

.anchor--label {
  display          : block;
  text-align       : center;
  font-size        : .9em;
  width            : 100%;
  min-width        : 25px;
  height           : $anchor--label--height;
  background-color : $anchor--label--border--color;
  border           : thin solid $anchor--label--border--color;
  cursor           : text;
  text-transform   : lowercase;

  ::before {
    content : "\200B";
  }
}

input.anchor--label {
  padding          : 3px;
  display          : block;
  width            : 100%;
  background-color : $anchor--label--input--background--color;
}

.anchor--label--wrapper {
  margin : 10px 0;
  height : $anchor--label--container--height;
}
