//// BASE ////

// schematic-depiction

// ANCHOR
$anchor--width : 120px;
$anchor--height : 175px;
$anchor--container--height : $anchor--height;

// CONTROL
$anchor--control--height : 20px;

// AMPERSAND
$anchor--ampersand--height : 75px;

// LABEL
$anchor--label--padding : 20px * 2;
$_not_label_height : $anchor--label--padding + $anchor--ampersand--height + $anchor--control--height;
$anchor--label--container--height : $anchor--container--height - ($_not_label_height);
$anchor--label--height : 100%;

