.profile--image--wrapper {
	top           : 20%;
	height        : 200px;
	width         : 200px;
	overflow      : hidden;
	border        : 10px solid white;
	border-radius : 500px;
	position      : relative;
	left          : 20%;
	img {
		background-color : #000;
	}
	> * {
		position : relative;
		width    : 120%;
		right    : 20%;
	}
}