@import "colors";

%character {
	display  : block;
	position : relative;
	&::after {
		content    : "";
		position   : absolute;
		top        : 0;
		left       : 0;
		width      : 100%;
		height     : 100%;
		background : rgba(#aaa, 1);
	}
	&::before {
		content    : '';
		filter     : invert(100%);
		position   : absolute;
		background : url("#{$site_public_url_or_path}/img/sprites.png");
		z-index    : 3;
		display    : block;
		height     : 100%;
	}
}

.image.william {
	@extend %character;
	&::before {
		background-position : -4% 101%;;
		background-size     : 367%;
		width               : 65%;
		left                : 17.5%;
	}
}

.image.jessica {
	@extend %character;
	&::before {
		background-position : -40% 62%;
		background-size     : 350%;
		width               : 62%;
		height              : 65%;
		top                 : 20%;
		left                : 17.5%;
	}
}

.image.philip {
	@extend %character;
	&::before {
		background-position : -40% 54%;
		background-size     : 350%;
		width               : 62%;
		height              : 65%;
		top                 : 20%;
		left                : 17.5%;
	}
}

@media screen and(max-width : 650px) {
}