$model--bg : darken($body--backgroundColor, 15%);
$dev--model-_-text-color : #555;
$dev--configuration--attribute-_-border-color : black;
$property--configuration--title-_-color : #333;
$model--configuration--title-_-border-bottom-color : #000;
$model--configuration--attribute__properties--link-_-background : lighten($body--backgroundColor, 5%);
$model--configuration--attribute__properties--link-_-txt-color : #000;
$model--configuration--attribute__properties--link-_-border-color : darken($body--backgroundColor, 15%);