@import "../../../../../colors/colors";

.model--smID {
	@at-root {
		h3#{&} {
			//background-color : $body--backgroundColor;
			display          : block;
			margin           : 0 0 10px 0;
			padding          : 10px;
		}
	}
}