@import "header";
@import "../../../colors";

.model--meta {
	background-color : $component--meta--bg;
	color            : $component--meta-_-text-color;
	padding          : 0;
	margin-bottom    : 20px;
	overflow         : hidden;
	border           : thin solid $body--backgroundColor-shadowNear;
	> header {
		background-color : $configuration--attribute--title-_-background;
		border-bottom    : thin solid darken($component--meta--bg--color, 20%);
		position         : relative;
		h3 {
			border-bottom : none;
		}
		.model--source--existence {
			display  : block;
			position : absolute;
			right    : 1%;
			top      : 20%;
			color    : darken($configuration--attribute--title-_-background, 60%);
			&.existent::before {
				content   : 'Model Source has been instantiated';
				font-size : .5em
			}
			&.non-existent::before {
				content         : 'Model Source has NOT been instantiated';
				font-size       : .7em;
				text-decoration : underline;
				font-weight     : bold;
			}
		}
	}
	.selectively-active.wrapper {
		flex : 1 0;
	}
}

.model--meta--action--container {
	width         : 100%;
	border-bottom : thin solid darken($component--meta--bg--color, 10%);
}

.property--configuration {
	&.inactive {font-style : italic;}
}

.property--configuration--title {
	padding       : 10px 7px;
	border-bottom : thin solid $property--configuration--title-_-color;
	background    : $configuration--attribute__properties--title-_-background;
	color         : $configuration--attribute__properties--title-_-txt-color;
	font-weight   : bold;
}

.property--configuration--attribute {
	> * { margin : 0; }
	.attribute--title {
		flex       : 1 1 30%;
		padding    : 10px 0 10px 20px;
		background : $configuration--attribute__properties--title-_-background;
		color      : $configuration--attribute__properties--title-_-txt-color;
	}
	.attribute--value {
		padding   : 1em 10px;
		flex      : 1 1 70%;
		font-size : .9em;
	}
}

.model--configuration--wrapper {
	&:first-child {
		border-right : thin solid $configuration--component-_-bg;
	}
	.description--tooltip {
		&:hover {
			visibility : visible !important;
			opacity    : 1 !important;
		}
		a {
			color : #fff;
		}
	}
}

.model--configuration {
	a {
		text-decoration : none;
		font-weight     : bold;
	}
}

.model--smID {
	display : block;
	width   : 100%;
}

.attribute__properties--link--container {
	flex-wrap : wrap;
	display   : flex;
	padding   : 0;
	margin    : 5px;
}

.attribute__properties--link {
	background-color : $configuration--attribute__properties--link-_-background;
	text-decoration  : none;
	margin-bottom    : 5px;
	margin-right     : 5px;
	font-weight      : bold;
	margin-top       : 5px;
	font-size        : .7em;
	padding          : 10px;
	border           : thin solid $configuration--attribute__properties--link-_-border-color;
	color            : $configuration--attribute__properties--link-_-txt-color;
	transition       : background-color .5s;
	&.active {
		background-color : darken($configuration--attribute__properties--link-_-background, 10%);
	}
	.page & {
		border-bottom : thin solid $configuration--attribute__properties--link-_-border-color;
	}
}

.alter_table_statement--container {
	width : 100%;
}

.model--configuration--description {
	padding       : 2px 30px 15px;
	position      : relative;
	display       : block;
	border-bottom : thin solid $configuration--title-_-border-bottom-color;
	&::before {
		content  : '--';
		position : absolute;
		top      : 0;
		left     : 10px;
	}
}

.model--component--wrapper {
	justify-content : space-between;
	align-items     : stretch;
	flex-wrap       : wrap;
	display         : flex;
}

.query--wrapper {
	cursor : pointer;
	pre {
		margin : 0;
	}
	.query--control--container {
		position         : absolute;
		right            : 0;
		top              : 0;
		height           : 100%;
		background-color : darken($component--meta--bg, 10%);
	}
	&.active {
		padding          : 10px;
		background-color : darken($component--meta--bg, 10%);
	}
}

@media screen and (max-device-width : 400px), screen and (max-width : 800px) {
	main {
		.query--wrapper, .model--configuration--wrapper {
			flex-basis : 100%;
		}
	}
}