@import "../variables";
@import "palette";

$body--backgroundColor : $palette_color_5;
$body--backgroundColor-shadowNear : darken($body--backgroundColor, 25%);

// concept colors
$close__red : #d40010;