@import "../variables";
@import "palette";

$body--backgroundColor : $palette_color_5;
$body--backgroundColor-shadowNear : darken($body--backgroundColor, 35%);

// concept colors
$error__red : #d40010;
$success__green : #37823f;