$palette_color_1 : #2e362b;
$palette_color_2 : #4c675a;
$palette_color_3 : #aa5c38;
$palette_color_4 : #7c7551;
$palette_color_5 : #aaa181;
$palette_color_6 : #6d6753;

$accent_color__1 : $palette_color_2;
$accent_color__2 : $palette_color_3;
$accent_color__3 : $palette_color_4;
