@import "logo";
@import "nav/nav";
@import "variables";
@import "colors";

@mixin centeredTwin($width: 45%) {
	$action-button__width : $width;
	$action-button__sidePadding : 100% -(2*$action-button__width);
	width : $action-button__width;

	&:last-child {
		margin : 2% 0 2% ($action-button__sidePadding/2);
	}
	&:first-child {
		margin : 2% ($action-button__sidePadding/2) 2% 0;
	}
}

.header-standard {
	display          : flex;
	align-items      : flex-start;
	justify-content  : flex-start;
	background-color : $header__backgroundColor;
	height           : $logo-item__header-std__height;
	> * {
		height      : 100%;
		display     : flex;
		align-items : center;
	}
	> nav {
		justify-content : flex-start;
		width           : $header-nav__header-std__width;
	}
	.logo--container {
		width : $logo-item__header-std__width;
	}

	> .user-menu {
		justify-content : flex-end;
		margin-right    : 20px;
		width           : $user-menu__header-std__width;
		height          : 100%;
		position        : relative;
		padding         : 10px;
		> * {
			display : block;
			height  : 100%;
		}
		form {
			display : block;
		}
		input {
			display : inline-block;
		}
		input, .action_button {
			font-size    : .7em;
			margin-right : 2%;
			width        : 48%;
			height       : 100%;
		}
		.input--container {
			display : inline-block;
		}
		.text_input--container {
			width        : 72%;
			margin-right : 3%;
		}
		.action_button--container {
			width  : 25%;
			float  : right;
			height : 100%;
			@include clearfix();
			> * {
				padding   : 0;
				clear     : both;
				display   : block;
				height    : 50%;
				float     : left;
				font-size : .5em;
				&:first-child {
					margin-bottom : 4px;
				}
			}
		}
	}
}