@import "logo";
@import "nav/nav";
@import "user-menu/user-menu";
@import "variables";
@import "colors";

@mixin centeredTwin($width: 45%) {
	$action-button__width : $width;
	$action-button__sidePadding : 100% -(2*$action-button__width);
	width : $action-button__width;

	&:last-child {
		margin : 2% 0 2% ($action-button__sidePadding/2);
	}
	&:first-child {
		margin : 2% ($action-button__sidePadding/2) 2% 0;
	}
}

.header-standard {
	display          : flex;
	align-items      : flex-start;
	justify-content  : flex-start;
	background-color : $header__backgroundColor;
	height           : $logo-item__header-std__height;
	box-shadow       : 0px -2px 9px 1px darken($header__backgroundColor, 20%);
	> * {
		height      : 100%;
		display     : flex;
		align-items : center;
	}
	> nav {
		justify-content : flex-start;
		width           : $header-nav__header-std__width;
	}
	.logo--container {
		width : $logo-item__header-std__width;
	}

}

@media screen and (max-device-width : 400px) {
	.header-standard {
		height : 2*$logo-item__header-std__height;
		> nav {
			font-size : 20px;
		}
	}
}