$logo-item__header-std__width : 10%;
$header-nav__header-std__width : 55%;
$user-menu__header-std__width : 100%- $logo-item__header-std__width - $header-nav__header-std__width;
$logo-item__header-std__height : 50px;
$logo-item__header-std__backgroundColor : #fff;